[Unit]
Description=Veloce Controller
After=network.target
Documentation=https://github.com/mihaselow/veloce-ce

[Service]
Type=simple
User=root
ExecStart=/usr/bin/veloce-controller
WorkingDirectory=/var/lib/veloce
Restart=on-failure
Environment=RUST_LOG=info
# Environment=VELOCE_SECRET=

[Install]
WantedBy=multi-user.target
